
#chess_table TD {width: 3em; height:3em;border:1px solid black;text-align:center;}
#chess_table {border-collapse: collapse;}
TD.B_square {background-color:#DDD;}
TD.W_square {background-color:#FFF;}
TD.pmove {border:3px solid blue; background-color:yellow;}
TD.tomove {border:3px solid blue; background-color:blue;}

.board {
  width: 610px;
  height: 480px;
  position: relative;
  background-color: #FF9933;
  box-sizing: border-box;
  border: 10px solid black;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
}

.left-bin {
  position: relative;
  left: 15px;
  top: 0px;
}

.right-bin {
  position: relative;
  left: 330px;
  top: -389px;
}

.arrow-down {
	width: 0px; 
	height: 0px; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 195px solid green;
  border-bottom: 0px solid;
  display: inline;
  float: left;
}

.left-bin .bottom-row {
  clear: left;
}

.right-bin .top-row {
  clear: left;
}

.right-bin .bottom-row {
  clear: left;
}

.bottom-row {
  position: relative;
  top: 70px
}
/*
.bottom-row, .top-row {
  margin: 0 auto;
  width: 550px;
  clear: both;
}
*/


.arrow-up {
	width: 0px; 
	height: 0px; 
  border-top: 0px solid;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent ;
	border-bottom: 195px solid green;
  display: inline;
  float: left;
}

.arrow-up.odd {
  border-bottom: 195px solid #044;}

.arrow-down.even {
  border-top: 195px solid #044;}

.middle-bar {
  width: 20px;
  height: 450px;
  padding: 5px;
  background-color: black;
  position: absolute;
  left: 280px;
  top: 0px;
  
}

.piece_1 {
  width: 36px;
  height: 36px;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 89.5%;
  z-value: 1;
  border-radius: 18px;
}

.piece_2 {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 38px;
  left: 89.5%;
  z-value: 1;
  border-radius: 18px;
  opacity: 1;
}

.piece_3 {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 76px;
  left: 89.5%;
  z-value: 1;
  border-radius: 18px;
  opacity: 1;
}
.piece_4 {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 114px;
  left: 89.5%;
  z-value: 1;
  border-radius: 18px;
  opacity: 1;
}

.piece_5 {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 152px;
  left: 89.5%;
  z-value: 1;
  border-radius: 18px;
  opacity: 1;
}

.piece_6 {
  width: 36px;
  height: 36px;
  opacity: 1;
  position: absolute;
  top: 60%;
  left: 89.5%;
  z-value: 1;
  border-radius: 18px;
}

.piece_7 {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 68%;
  left: 89.5%;
  z-value: 1;
  border-radius: 18px;
  opacity: 1;
}

.piece_8 {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 76%;
  left: 89.5%;
  z-value: 1;
  border-radius: 18px;
  opacity: 1;
}
.piece_9 {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 92%;
  left: 89.5%;
  z-value: 1;
  border-radius: 18px;
  opacity: 1;
}

.piece_10 {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 84%;
  left: 89.5%;
  z-value: 1;
  border-radius: 18px;
  opacity: 1;
}



